
    <%- include('../fragments/header.ejs') %>
    <div class="main">
        <h2><%=__('courses_page.title')%></h2>
        
        <br>
        <table class="table">
            <thead>
                <tr id="mainRow">

                    <th><%=__('courses_page.table.name')%></th>
                    
                    <th><%=__('courses_page.table.price')%></th>
                    <th><%=__('courses_page.table.courses_date')%></th>
                   
                    <th><%=__('courses_page.table.actions')%></th>
                </tr>
            </thead>
            <tbody>
                <% for (let course of insts) { %>
                <tr>
                    <td><%= course.name %></td>
                    
                    <td><%= course.price %></td>
                    <td><%= course.courseDate%></td>
                   
                    <td>
                        <ul class="list">
                            <li><a href="/course/details/<%=course._id%>" class="list-action-button-details"><%=__('courses_page.table.action-buttons.details')%></a></li>
                            <li><a href="/course/edit/<%=course._id%>" class="list-action-button-edit"><%=__('courses_page.table.action-buttons.edit')%></a></li>
                            <li><a href="/course/delete/<%=course._id%>" class="list-action-button-delete"><%=__('courses_page.table.action-buttons.delete')%></a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
             </tbody>
        </table>
        <p><a href="/course/add" class="button-add"><%=__('courses_page.buttons.add-new-course')%></a></p>
    </div>
    
    <%- include('../fragments/footer.ejs') %>
